beautifulsoup4
bokeh
bottleneck
cartopy
contextily
cython
dill
folium
geopandas
jupyterlab
mapclassify
nbgitpuller
networkx
nltk
numexpr
numpy
osmnx
pillow
pip
pyproj
pysal
python == 3.*
rasterio
scikit-learn
scipy
seaborn
statsmodels
urbanaccess
xlrd
xlwt
